<div class="flex-container">
  <div class="card card-user">
    <div class="card-title">
      <p>Users</p>
      <h1>40</h1>
    </div>
  </div>

  <div class="card card-post">
    <div class="card-title">
      <p>Posts</p>
      <h1>50</h1>
    </div>
  </div>
</div>

<div class="container">
  <h1>Users</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
